body {
	font-family: Arial, sans-serif;
}
.navbar {
	overflow: hidden;
	background-color: #2a2c2f;
	border-bottom: 1px solid #e0e0e0;
}
.navbar a {
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar a.active {
	background-color: #01a92b;
}
.navbar a:hover {
	background-color: #9a9999;
	color: black;
}
.data-table table {
	width: 100%;
}
.data-table td:first-child, .data-table th:first-child {
    width: 5%;
}

.data-table td:nth-child(2), .data-table th:nth-child(2) {
    width: 10%; /* Example width for the second column */
}

.data-table td:nth-child(3), .data-table th:nth-child(3) {
	width: 85%;
}
.contactForm {
	margin-left: 25vw;
	margin-right: 25vw;
	padding: 16px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.contactForm input,.contact-form textarea {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.contactForm input[type=submit] {
	width: 100%;
	background-color: #01a92b;
	color: white;
	border: none;
	padding: 14px 20px;
	text-decoration: none;
	cursor: pointer;
}
.contactForm input[type=submit]:hover {
	background-color: #45a049;
}
.contactForm select {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}
.resizeable-textarea {
width: calc(100% - 20px); /* Adjust the width as needed, subtracting padding and margins */
max-width: 100%; /* Ensures it doesn't exceed the width of its container */
height: 200px;
padding: 10px; /* Add padding for better readability and spacing */
font-size: 14px; /* Adjust font size as needed */
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
